In [1]:
import pandas as pd
from scipy.stats import chi2_contingency
from scipy import stats

In [2]:
alpha =0.05

In [3]:
df=pd.read_excel('chisquare dataset.xlsx')

In [4]:
df

       Satisfaction  Smart Thermostat  Smart Light  Total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       Unsatisfied                30           50     80
4  Very Unsatisfied                20           50     70
5             Total               240          360    600

In [5]:
df['Smart Thermostat']

0     50
1     80
2     60
3     30
4     20
5    240
Name: Smart Thermostat, dtype: int64

In [6]:
df['Smart Light']

0     70
1    100
2     90
3     50
4     50
5    360
Name: Smart Light, dtype: int64

In [7]:
#Cross-tabulation
obs = pd.crosstab(index=df['Smart Thermostat'],columns=df['Smart Light'])
obs

Smart Light       50   70   90   100  360
Smart Thermostat
20                  1    0    0    0    0
30                  1    0    0    0    0
50                  0    1    0    0    0
60                  0    0    1    0    0
80                  0    0    0    1    0
240                 0    0    0    0    1

In [8]:
chi2,p,df,exp  = chi2_contingency(obs)

In [9]:
chi2, df

(24.000000000000007, 20)

In [10]:
exp

array([[0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667]])

In [11]:
p

0.2423921616705121

In [12]:
#Hypothesis test
if p < 0.05:
    print('Reject Null Hypothesis.Columns are dependent on each other.')
else: 
    print('Fail to reject null hypothesis.')

Fail to reject null hypothesis.

In [13]:
# critical value 
critical_value= stats.chi2.ppf(1-alpha, df)

In [14]:
critical_value

31.410432844230918